@font-face {
    font-family: "SuperWebcomicBros";
    src: url("../fonts/SuperWebcomicBros.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    background-color: gray;
    color: white;
    font-family: "SuperWebcomicBros";
}

header,
section,
footer {
    margin-top: 50px;
}